body {
    display: block;
}
.table {
    width: 100%;
}

h1 {
    text-align: center;
    padding-bottom: 2em;

}

th {
    width: 20%;
    text-align: left;
    border: 2px solid navy;
    padding: 1.2em;
}

td {
    padding: 1.2em;
    border: 2px solid navy;
}


